body
{
  background-image: url('../img/bg.jpg');
 
}
 .label
  {
    font-size: 18px;
    color: black;
  }  
.login-field
{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1.5px #4a4a4a

}


.forget-pass
{
  color: #24c2ad;
  text-decoration-line: underline !important;

}

.navbar
{
 background-color: transparent;

}

.sign-up
{
  
}
.main-content
{


  font-size: 16px;
  background-color: #ffffff;


}

