body
{
  background-image: url('../img/bg.jpg');
 
}
 .label
  {
    font-size: 18px;
    color: black;
  }  
.login-field
{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1.5px #4a4a4a
}


.forget-pass
{
  color: #24c2ad;
  text-decoration-line: underline !important;

}
.login-btn
{
  background-color: #24c2ad;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #4a4a4a;
}
