body{
  
    font-family: Arial, sans-serif,Calibri, Candara, Segoe, 'Segoe UI', Optima;
}

.navbar
{
 background-color: #4a4a4a;
  color: #ffffff;
  border: solid 0.5px #c7c7c7;
  border: none;
  border-radius: 0;
  padding-top: 10px;

}

.logoFont
{
  font-size: 20px;
  color:#ffffff !important;
}
.butn:hover{color: black !important; background-color: #ffffff !important;}

.whitetext{color: #ffffff !important;background-color: black !important;}

.text{color: #ffffff !important;}

.primarycolorText{color: #24c2ad !important;}

.navbar-nav>li>a {
 color: #ffffff !important;
}


.main-content
{

  margin-top: 124px;
  box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
  font-size: 18px;
  background-color: #ffffff;


}

.content-heading
{
  font-size: 22px;
   color: #4a4a4a;
   font-weight: 600;

}
.cross-icon
{
  float: right;
  color: #DCD9DB;

}

.optionbtn
{

  border-radius: 50px;
  border: solid 2px #565656;
  font-size: 16px;
  margin-bottom: 65px;
  color: #767676;

}
.optionbtnColor
{

  border-radius: 50px;
  border: solid 2px #24c2ad;
  font-size: 16px;
  color: #767676;
  
}

footer
{
  margin-top: 400px;
  background-color: #24c2ad;
  color: #ffffff;
  font-size: 12px;
}


.footer-heading{
   font-size: 18px;

}

/*///////////////////////////////
                                    onbordind page    /////////////////////////////////////////////////////////////*/

.btn-hover
{
  background-color: #ddfffb;
  border: solid 2px #24c2ad;
  color: black !important;

}
.btn-selected
{
  background-color: #24c2ad;
  border: solid 2px #24c2ad;
  color: black !important;

}
.login-btn
{
  background-color: #24c2ad;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.arrow
{
  width: 24px;
  height: 3px;

}




