body{
  
    font-family: Arial, sans-serif,Calibri, Candara, Segoe, 'Segoe UI', Optima;
}
.navbar
{
  background-color: #4a4a4a;
  color: #ffffff;
  border: solid 0.5px #c7c7c7;
  border: none;
  border-radius: 0;
 

}


.logoFont
{
  font-size: 22px;
  color:#ffffff !important;
  padding: 20px 0  22.6px 60px;

}


.butn-active{ 
  background-color: #24c2ad !important;
  color: #ffffff !important;
}

.whitetext{color: #ffffff !important;background-color: black !important;}

.right-nav{padding-top: 20px;}

.primarycolorText{color: #24c2ad !important;}
/*
.beta
{

  margin-left: 69px;
   margin-top: -10px;
   font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #24c2ad;

}*/
.beta
{
   margin-left: -2%;
   font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #24c2ad;
  position: absolute;
  top: 38px;
  
}
.beta:hover
{
  color: #24c2ad;
  text-decoration: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover ,a:active
{
  background-color: transparent;
    font-size: 16px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover,a:active
  {
     font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;

  }
.dropdown-menu 
{
  -webkit-box-shadow: none;
   }
.dropdown-menu>li>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:active
{
   font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
}



.sign-up,.sign-up:hover,.sign-up:focus,.sign-up:active
{
  border-radius: 2px;
  border: solid 2px #24c2ad;
  margin-top: 15px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  height: 40px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #24c2ad;

}
.logInNav
{

   
   margin-top: 15px;
   font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  height: 40px;
  text-align: center;


}
.navbar-nav>li>a,.navbar-nav>li>a:hover,.navbar-nav>li>a:focus,.navbar-nav>li>:active {
 color: #ffffff !important;
   font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.main-content
{

  margin-top: 83px;
  box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
  font-size: 24px;
  background-color: #ffffff;
  color: #4a4a4a;
}

.forgot-content
{

  margin-top: 50px;
   box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
  font-size: 24px;
  background-color: #ffffff;
  color: #4a4a4a;
}
.login-content
{

  margin-top: 70px;
  font-size: 24px;
  background-color: #ffffff;
  color: #4a4a4a;
}
.sign-up-content
{
  font-size: 24px;
  background-color: #ffffff;
  color: #4a4a4a;
  margin-top: 45px;
}
.content-heading
{
   font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;

}
.onbordind-heading
{
   font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  color: #4a4a4a;



}
.cross-icon
{
  font-size: 12px;
  color: #cccccc;
  margin-top: 25px;
  margin-right: 10.5px;

}

.questionNo
{

  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  margin-top: 34px;
  margin-bottom: 0px;
  padding: 0px;
}
.optionbtn
{

  border-radius: 50px;
  border: solid 2px #565656;
  font-size: 16px;
  margin-bottom: 65px;
  color: #767676;

}
.optionbtnColor
{

  border-radius: 50px;
  border: solid 2px #24c2ad;
  font-size: 16px;
  color: #767676;
  
}
.skip
{
   font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  color: #4a4a4a;
  text-decoration: underline;
  margin-bottom: 15px;


}
.skip:hover
{
 
  color: #4a4a4a;

}
.nextbtnMargin
{
  margin-top: 15px;
}
.arrow{
  font-size: 20px;

}
footer
{
  margin-top: 76px;
  padding-top: 31px;
  height: 112px;
  background-color: #24c2ad;
  color: #ffffff;
  font-size: 11px;

}


.footer-heading{
   font-size: 16px;

}
.loginmarg
{
  margin-top: 303px;

}
.forgotmargin
{
  margin-top: 195px;

}
.SignmeFooter
{
  margin-top: 135px;

}

.onbordingFooter
{
  margin-top: 76px;

}
.helpFooter
{
  margin-top: 350px;

}
.help-heading
{
 font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  color: #4a4a4a;


}
/*///////////////////////////////
 
 
                                    onbordind page    /////////////////////////////////////////////////////////////*/

.onbordind-content
{

  margin-top: 30px;
  box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
  font-size: 24px;
  background-color: #ffffff;
  color: #4a4a4a;
}

.butn{
  min-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
   color: #4a4a4a !important;
}
.butn:hover
{
  color: #4a4a4a !important;
  background-color: #DDFFFB !important;
   outline: none;
  }
.butn:active
{
 background-color: #24c2ad !important;
 outline: none !important;
  color: #ffffff !important;
   box-shadow: none  !important;
}
.butn:focus
{
 background-color: #24c2ad !important;
 outline: none;
 color: #4a4a4a !important;
 box-shadow: none  !important;
 color: #ffffff !important;

}


.btn-selected
{
  background-color: #24c2ad;
  border: solid 2px #24c2ad;
  color: black !important;

}
.login-btn
{
  background-color: #24c2ad;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  color: #ffffff;
  border: none; 
  border-radius: 0px;
  padding: 21px 0 20px 0; 
  
}

.login-btn:hover,.login-btn:active,.login-btn:focus
{
  background-color: #24c2ad !important;
  color: #ffffff !important;
  outline: none !important;
  box-shadow: none !important;

}

.arrow
{
  width: 24px;
  height: 3px;

}

.onbordingSubheading
{
  font-size: 18px !important;
}

.logout-navBtn
{
  color: #ffffff;
  margin-top:21px;
  margin-left: 70px;
  margin-bottom: 22px;
  font-size: 16px; 
}
.logout-navBtn
{
  color: #ffffff;
  margin-top:21px;
  margin-right:22px; 
  font-size: 16px; 
}
.logoMargin
{
  margin-bottom: 8px;
}


/*/////////////////////////////// 
                                     change password    /////////////////////////////////////////////////////////////*/


.headingPading{margin-left: 30%;}

.bodyText{font-size: 16px;}

.passChangeBtn
{
  background-color: #24c2ad;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.WithoutBorder
{

  margin-top: 92px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
   color: #4a4a4a;


}
.emailUs
{

  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  color: #4a4a4a;


}

/*///////////////////////////////
                                    Check-list   /////////////////////////////////////////////////////////////*/


.checklistContent
{

  margin-top: 20px;
  font-size: 14px;
  background-color: #ffffff;


}


.listHeading
{
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
  margin-left: 20px;
}
.glyphicon-chevron-down
{
  font-size: 12px;
  color: #4a4a4a;
}



.panel-default>.panel-heading
{

   background-color: #ffffff;
   border-radius: 5px;

   
}
.main-panel
{

   background-color: #fffafa !important;   
}
.task
{
   font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
.orangeborder
{
     border-style: solid;
    border-left: 5px solid  #fb935c;
}
.operation-icon
{
 width: 16px;
  height: 18px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #b2b2b2;
  border: 2px solid #b2b2b2;
  padding-left: 2px;
}
.operation-icon2 
{
 width: 16px;
  height: 18px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #b2b2b2;

}

.social-icon
{
  font-size: 20px;
  padding-left: 20%;

}
.social-icon2
{
  font-size: 20px;
  padding-left: 5%;


}

.friendsBox
{
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
 font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  color: #4a4a4a;
  margin-top: 50px;
  padding: 22px 17px 18px 18px;
}
.friendHeading
{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #4a4a4a;

}
.progress{
    border-radius: 20px;
  background-color: #ffffff;
}
.progress-bar 
{
  background-color: #24c2ad;


}
.hrCheck
{
  margin-top: 207px;
  margin-left: 17%;
  width: 50%;

}

.queryBox
{
   border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 6px 15px 0 rgba(225, 225, 225, 0.64);
  color: #4a4a4a;
  margin-top: 30px;
  padding: 38px;


}

.userQueryHeading
{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
.userQueryMrgin{ margin-top: 20px;}

.typingBox
{
  height:30%; 
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 25px;
  color: #dddddd;
}
.sndQueryBtn
{
  background-color: #24c2ad;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-top: -10px;
  padding: 20px;

}
.checklistHeading
{
  font-size: 18px;
}
#checkbox
{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #4a4a4a;
}
.showtask
{
    font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
#definitionBox
{
    background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #e2e2e2;
  border: solid 1px #dddddd;
}

.subheading
{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 15px;
}
.subheading:hover
{
 
  color: #4a4a4a;
  text-decoration: none;
  }
.subheading:active
{
 
  color: #4a4a4a;
  text-decoration: none;
}
.subheading:visited
 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
  text-decoration: none;
  text-decoration: none; 
}
#form{margin-bottom: -15px;}
#form2{margin-bottom: -15px;}

.passText
{
  margin-top: 27px;
}


/*///////////////////////////////
  
                                    Login  /////////////////////////////////////////////////////////////*/


.login-heading
{
  display: block;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 48px;
  margin-bottom: 0px;
  padding: 0px;
}

.login-field
{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1.5px #4a4a4a;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 27px;

}

.form-control
{
  border-radius: 4px !important;
  background-color: #ffffff;
  border: solid 1.5px #4a4a4a;
  height: 50px;

}
.form-control2
{
  background-color: #ffffff;
  border: none !important;
  height: 50px;

}

.forgot-heading
{
   /*margin-top: 48px !important;*/
   font-size: 28px;
  
}
.forgotSubHeading
{   
   margin-top: 12px;
   margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.3px;
  text-align: center;
  color: #4a4a4a;

}
.forgetLinks
{
  color: #ffffff;
  margin-left: 40%;
  margin-bottom: 12px;
}
.forgetLinks:hover
{
  color: #ffffff;
}
.emailText
{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #4a4a4a;
  margin-left: 17%;
  margin-top: 41px;
}
label
{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #4a4a4a;
  margin-left: 17%;
 
}


.forgetLink
{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  margin-left: 16%;
  margin-bottom: 46px;
  margin-top: -5px;
  text-decoration: underline;
}

.SignmeMargin
{
   margin-top: 70px;
}
.headingMargin
{
 margin-top: 70px;
}
/*///////////////////////////////
  
                                    Sign Up  /////////////////////////////////////////////////////////////*/
.signUp-heading
{
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 48px;
  margin-bottom: 41px;
}

#emailMargin
{
  margin-top: 41px;
}

.bottomMargin
{
  margin-bottom: 10px;
}
.topMargin
{
  margin-top: 32px;
}
/*///////////////////////////////
  
                                    checkout  /////////////////////////////////////////////////////////////*/

.panel-body
{
  padding-left: 40px;
}
.fa-cloud-download
{
  margin-left: 5px;
}
.pdftext
{
  margin-right: 24px;
  color: #24c2ad;
}
.tooltip-inner {
  background-color: #ffffff;
  color: #4a4a4a;
  }
.tool
{
  text-decoration: none;
    color: #4a4a4a;
}
.tool:hover
{
  text-decoration: none;
    color: #4a4a4a;
}
.tool:active
{
  text-decoration: none;
    color: #4a4a4a;
}