body{
  
    font-family: Arial, sans-serif,Calibri, Candara, Segoe, 'Segoe UI', Optima;
}

.navbar
{
 background-color: #4a4a4a;
  color: #ffffff;
  border: solid 0.5px #c7c7c7;
  border: none;
  border-radius: 0;
  padding-top: 10px;

}

.logoFont
{
  font-size: 20px;
  color:#ffffff !important;
}
.butn{min-width: 150px;}
.butn:hover{color: black !important; background-color: #ffffff !important;}

.whitetext{color: #ffffff !important;background-color: black !important;}

.text{color: #ffffff !important;}

.primarycolorText{color: #24c2ad !important;}

.navbar-nav>li>a {
 color: #ffffff !important;
}


.main-content
{

  margin-top: 124px;
  box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
  font-size: 18px;
  background-color: #ffffff;


}

.content-heading
{
  font-size: 22px;
   color: #4a4a4a;
   font-weight: 600;

}
.cross-icon
{
  float: right;
  color: #DCD9DB;

}

.optionbtn
{

  border-radius: 50px;
  border: solid 2px #565656;
  font-size: 16px;
  margin-bottom: 65px;
  color: #767676;

}
.optionbtnColor
{

  border-radius: 50px;
  border: solid 2px #24c2ad;
  font-size: 16px;
  color: #767676;
  
}

footer
{
  margin-top: 400px;
  background-color: #24c2ad;
  color: #ffffff;
  font-size: 12px;
}


.footer-heading{
   font-size: 18px;

}

/*///////////////////////////////
                                    onbordind page    /////////////////////////////////////////////////////////////*/

.btn-hover
{
  background-color: #ddfffb;
  border: solid 2px #24c2ad;
  color: black !important;

}
.btn-selected
{
  background-color: #24c2ad;
  border: solid 2px #24c2ad;
  color: black !important;

}
.login-btn
{
  background-color: #24c2ad;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.arrow
{
  width: 24px;
  height: 3px;

}

.onbordingSubheading
{
  font-size: 18px !important;
}


/*///////////////////////////////
                                     change password    /////////////////////////////////////////////////////////////*/

.loginpad{padding-left: 15%;}

.headingPading{margin-left: 30%;}

.bodyText{font-size: 16px;}

.passChangeBtn
{
  background-color: #24c2ad;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.WithoutBorder
{

  margin-top: 124px;
  font-size: 18px;
  background-color: #ffffff;


}

/*///////////////////////////////
                                    Check-list   /////////////////////////////////////////////////////////////*/


.WithoutBorder2
{

  margin-top: 124px;
  font-size: 14px;
  background-color: #ffffff;


}


.listHeading
{
    font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
  margin-left: 20px;
}
.glyphicon-chevron-down
{
  font-size: 12px;
  color: #4a4a4a;
}

.panel-default>.panel-heading
{

  background-color: #fffafa;
  box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.64);
  border: solid 1px #f0f0f0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a !important;

}

.panel-default>.panel-heading
{

   background-color: #fffafa;
   border-radius: 5px;

   
}
.task
{
   font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
.orangeborder
{
     border-style: solid;
    border-left: 5px solid  #fb935c;
}
.smallBox
{
 width: 16px;
  height: 18px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #b2b2b2;
  border: 2px solid #b2b2b2;
  margin-right: 10px;
  padding-left: 2px;
}
.smallBox2
{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: black;
  border: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 10px;

}

.smallBox3
{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: black;
  border: 1px solid #24c2ad;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 5px;
  color: #24c2ad;

}

.friendsBox
{
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 6px 15px 0 rgba(226, 226, 226, 0.5);
 font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  color: #4a4a4a;
  padding: 5px;
}
.friendHeading
{
    font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #4a4a4a;
}
.progress{
    border-radius: 20px;
  background-color: #ffffff;
}
.progress-bar 
{
  background-color: #24c2ad;


}
.hrCheck
{
  margin-top: 207px;
}

.queryBox
{
   border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 6px 15px 0 rgba(225, 225, 225, 0.64);
  color: #4a4a4a;
  margin-top: 30px;
  padding: 38px;

}
.userQueryHeading
{
  font-size: 20px;

}
.typingBox
{
   height:30%; 
   border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 25px;
  color: #dddddd;
}
.sndQueryBtn
{
  background-color: #24c2ad;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-top: -10px;
  padding: 20px;

}
.checklistHeading
{
  font-size: 18px;
}
#checkbox
{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #4a4a4a;
}
.showtask
{
    font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
#definitionBox
{
    background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #e2e2e2;
  border: solid 1px #dddddd;
}